* {
    box-sizing: border-box;
}


.clusterize-scroll {
    max-height: 100vh;
}

.clusterize table {
    table-layout: fixed;
    width: 1800px;
    border-spacing: 0;
    border-collapse: collapse;
}

.clusterize table td {
    border: 1px black solid;
}

.clusterize thead td {
    width: fit-content;
    padding: 8px 4px;
    text-align: center;
    font-weight: bold;
}

.clusterize tbody tr td {
    padding: 8px 4px;
}

@media screen and (max-width: 600px) {

    .table {
        width: 2000px
    }

    .


}