* {
    box-sizing: border-box;
}

:root {
    --background-color: #e8ab81;
    --header-background-color: #fd8c3e;
    --header-text-color: rgb(244, 244, 253);
    --table-background-color: rgb(255, 255, 255);
}

.clusterize {
    display: flex;
    flex-direction: column;
    padding: 24px 40px;
    background: var(--background-color);
    width: 100vw;
    height: 100vh;
}

.clusterize .info {
    align-self: center;
    margin-bottom: 12px;
}

.clusterize #search {
    padding: 10px;
    width: 400px;
    border-radius: 20px;
    border: 1px #4b8482 solid;
}

.clusterize #timeDumped {
    align-self: end;
    margin: 0 6px 8px;
}



.clusterize-scroll {
    border-radius: 16px;
    max-height: 100%;
    width: 100%;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.clusterize-scroll::-webkit-scrollbar {
    display: none;
}

.clusterize table {
    table-layout: fixed;
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}

.clusterize thead tr {
    left: 0;
    position: fixed;
    display: table;
    table-layout: fixed;
    border-radius: 16px 16px 0 0;
    overflow: hidden;
    width: 1275.63px;
    margin: 0 40px;
}

.clusterize thead td {
    width: fit-content;
    background: var(--header-background-color);
    color: var(--header-text-color);
    cursor: pointer;
    padding: 16px 12px;
    font-weight: bold;
}

.clusterize tbody td {
    background: var(--table-background-color);
}

.clusterize tbody tr td {
    padding: 16px 12px;
}

.clusterize tbody tr {
    border-bottom: 1px #e8dede solid;
}

.clusterize tbody a {
    text-decoration: none;
    color: #068488;
}

.clusterize tbody a:hover {
    color: #324b4c;
}

.clusterize h6 {
    font-weight: normal;
}

.arrow {
    margin-left: 8px;
}

.meta-data {
    position: absolute;
    display: none;
    background: rgba(36, 37, 41, 0.85);
    border-radius: 4px;
    color: white;
    padding: 12px;
}

.search-wrapper {
    position: relative;
}

.search-wrapper input {
    box-shadow: #946e6e 0 4px 8px -2px;
}

.search-wrapper select {
    position: absolute;
    background: none;
    padding: 4px 8px;
    border: none;
    text-align: end;
    right: 4%;
    top: 50%;
    transform: translateY(-50%);
}

/*.clusterize thead tr td:first-child {*/
/*    border-radius: 12px 0 0 0;*/
/*}*/

/*.clusterize thead tr td:last-child {*/
/*    border-radius: 0 12px 0 0;*/
/*}*/

@media screen and (max-width: 1200px) {

    .clusterize table {
        table-layout: fixed;
        width: 2000px;
        border-spacing: 0;
        border-collapse: collapse;
    }

    .clusterize {
        padding: 20px 0;
    }

    .clusterize thead tr {
        margin: 0;
    }

    .test123 {
        width: 200px;

    }

}

@media screen and (max-width: 768px) {

    .clusterize #search {
        width: calc(100vw - 20px);
    }

}